 body{
   background-color: #edeff0;
   
 }
 /*NAVIGATION*/
 .navLink::before{
   content:"";
   background: #d8232a;
   border-radius: 5px;
   color:white;
   -moz-border-radius: 5px;
   position: absolute;
   padding: 5px;
   width: 60px;
   text-align: center;
   margin-top:50px;
   left: 5px; 
   transition : all .5s;
   opacity: 0;
}

@media(max-width:576px){
   .navLink::before{
      content:"";
      background: #d8232a;
      border-radius: 5px;
      color:white;
      -moz-border-radius: 5px;
      position: absolute;
      padding: 5px;
      width: 60px;
      text-align: center;
      margin-top:0px;
      left: 60px; 
      transition : all .5s;
      opacity: 0;
   }
   #linkBasket{
      margin-left: 0px;
   }
}

#linkForum:hover::before{
   opacity: 1;
   content: "Forum";
}
#linkStore:hover::before{
   opacity: 1;
   content: "Store";
}
#linkMovies:hover::before{
   opacity: 1;
   content:"Movies";
}
#linkGames:hover::before{
   opacity: 1;
   content: "Games";
}
#linkBasket:hover::before{
   opacity: 1;
   content: "Basket";
}
#linkAccount:hover::before{
   opacity: 1;
   content: "Account";
   width:70px;
}
nav{
   background-color: white;
}


/*NAVIGATION*/
 


ul>li>a>i{
   margin-left:5px;
   border-radius: 10px;
 }
 img{
    width: 100%;
    height: 100%;
 }   
 .carousel{
    margin-top:60px;
    width:60%;
    margin-left:20%;
    
 }

 .movieImg{
    width: 250px;
    height: 350px;
 }
 .movieImg:hover{
    cursor: pointer;
 }
#moviePanel{
   background-color: #edeff0;
   
}

.movieInformation{
   border: 2px solid;
   margin: 3px;
   margin-right: 18px;
   width: 246px;
   height: 346px;
   padding : 5px;
}

   /*SEARCHBAR*/
.has-search .form-control {
  padding-left: 2.375rem;
  margin-left: 45%;
  margin-top: 15px;
 
}

.has-search .form-control-feedback {
  position: absolute;
  margin-top: 15px;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  margin-left: 43.5%;
}
   /*SEARCHBAR*/

   /* MoviePanelNavbar*/
#MoviePanelNavBar{
   height: 100px;
   box-shadow: 0 0 1em gray;
  
}
#MoviePanelNavBar>#moviePanelName>h4{
   margin-top: 15px;
   margin-left:10%;
}
#MoviePanelNavBar>#moviePanelNavigate>#moviePanelNavigateLinks{
   margin-top: 15px;
   margin-left:20%;
   
}

#MoviePanelNavBar>#moviePanelNavigate>#moviePanelNavigateLinks>a{
   color: black;
   font-size: 18px;
   
}

#postersPanel{
   margin-top: 30px;
   margin-bottom: 30px;
}

footer{
   background-color: white;
   box-shadow: 0 0 1em gray; 
   
}

.footer-copyright{
   text-align: center;
}
.row{
   margin-right:0px;
}

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color:#fff;
   -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}